<a href="https://colab.research.google.com/github/teamgaon/SANUP/blob/main/220329_ji.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
!pip install gluonnlp
# !pip install mxnet
!pip install 'git+https://github.com/SKTBrain/KoBERT.git#egg=kobert_tokenizer&subdirectory=kobert_hf'
# !pip install git+https://git@github.com/SKTBrain/KoBERT.git@master
!pip install transformers
!pip install sentencepiece
!pip install kobert-transformers
!pip install git+https://git@github.com/SKTBrain/KoBERT.git@master

Requirement already satisfied: gluonnlp in /usr/local/lib/python3.7/dist-packages (0.10.0)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from gluonnlp) (1.21.5)
Requirement already satisfied: cython in /usr/local/lib/python3.7/dist-packages (from gluonnlp) (0.29.28)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from gluonnlp) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->gluonnlp) (3.0.7)
Collecting kobert_tokenizer
  Cloning https://github.com/SKTBrain/KoBERT.git to /tmp/pip-install-2df3wmu2/kobert-tokenizer_7c1977c3af8f4790aff9eaf4a6c2f4c5
  Running command git clone -q https://github.com/SKTBrain/KoBERT.git /tmp/pip-install-2df3wmu2/kobert-tokenizer_7c1977c3af8f4790aff9eaf4a6c2f4c5
Requirement already satisfied: transformers in /usr/local/lib/python3.7/dist-packages (4.17.0)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (2019.12.20)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from transformers) (2.23.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from transformers) (21.3)
Requirement already satisfied: sacremoses in /usr/local/lib/python3.7/dist-packages (from transformers) (0.0.49)
Requirement already satisfied: tokenizers!=0.11.3,>=0.11.1 in /usr/local/lib/python3.7/dist-packages (from transformers) (0.11.6)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.7/dist-packages (from transformers) (4.63.0)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.7/dist-packages (from transformers) (6.0)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (1.21.5)
Requirement already satisfied: huggingface-hub<1.0,>=0.1.0 in /usr/local/lib/python3.7/dist-packages (from transformers) (0.4.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from transformers) (3.6.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from transformers) (4.11.3)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from huggingface-hub<1.0,>=0.1.0->transformers) (3.10.0.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->transformers) (3.0.7)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->transformers) (3.7.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (1.25.11)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2021.10.8)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (1.15.0)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (1.1.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (7.1.2)
Requirement already satisfied: sentencepiece in /usr/local/lib/python3.7/dist-packages (0.1.96)
Requirement already satisfied: kobert-transformers in /usr/local/lib/python3.7/dist-packages (0.5.1)
Requirement already satisfied: sentencepiece>=0.1.91 in /usr/local/lib/python3.7/dist-packages (from kobert-transformers) (0.1.96)
Requirement already satisfied: transformers<5,>=3 in /usr/local/lib/python3.7/dist-packages (from kobert-transformers) (4.17.0)
Requirement already satisfied: torch>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from kobert-transformers) (1.10.0+cu111)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from torch>=1.1.0->kobert-transformers) (3.10.0.2)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.7/dist-packages (from transformers<5,>=3->kobert-transformers) (4.63.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from transformers<5,>=3->kobert-transformers) (4.11.3)
Requirement already satisfied: sacremoses in /usr/local/lib/python3.7/dist-packages (from transformers<5,>=3->kobert-transformers) (0.0.49)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.7/dist-packages (from transformers<5,>=3->kobert-transformers) (2019.12.20)
Requirement already satisfied: huggingface-hub<1.0,>=0.1.0 in /usr/local/lib/python3.7/dist-packages (from transformers<5,>=3->kobert-transformers) (0.4.0)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.7/dist-packages (from transformers<5,>=3->kobert-transformers) (6.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from transformers<5,>=3->kobert-transformers) (2.23.0)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from transformers<5,>=3->kobert-transformers) (1.21.5)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from transformers<5,>=3->kobert-transformers) (3.6.0)
Requirement already satisfied: tokenizers!=0.11.3,>=0.11.1 in /usr/local/lib/python3.7/dist-packages (from transformers<5,>=3->kobert-transformers) (0.11.6)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from transformers<5,>=3->kobert-transformers) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->transformers<5,>=3->kobert-transformers) (3.0.7)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->transformers<5,>=3->kobert-transformers) (3.7.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->transformers<5,>=3->kobert-transformers) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->transformers<5,>=3->kobert-transformers) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->transformers<5,>=3->kobert-transformers) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->transformers<5,>=3->kobert-transformers) (1.25.11)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers<5,>=3->kobert-transformers) (7.1.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers<5,>=3->kobert-transformers) (1.1.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers<5,>=3->kobert-transformers) (1.15.0)
Collecting git+https://****@github.com/SKTBrain/KoBERT.git@master
  Cloning https://****@github.com/SKTBrain/KoBERT.git (to revision master) to /tmp/pip-req-build-di0ty1tt
  Running command git clone -q 'https://****@github.com/SKTBrain/KoBERT.git' /tmp/pip-req-build-di0ty1tt
Requirement already satisfied: boto3 in /usr/local/lib/python3.7/dist-packages (from kobert==0.2.3) (1.21.28)
Requirement already satisfied: gluonnlp>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from kobert==0.2.3) (0.10.0)
Requirement already satisfied: mxnet>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from kobert==0.2.3) (1.9.0)
Requirement already satisfied: onnxruntime==1.8.0 in /usr/local/lib/python3.7/dist-packages (from kobert==0.2.3) (1.8.0)
Requirement already satisfied: sentencepiece>=0.1.6 in /usr/local/lib/python3.7/dist-packages (from kobert==0.2.3) (0.1.96)
Requirement already satisfied: torch>=1.7.0 in /usr/local/lib/python3.7/dist-packages (from kobert==0.2.3) (1.10.0+cu111)
Requirement already satisfied: transformers>=4.8.1 in /usr/local/lib/python3.7/dist-packages (from kobert==0.2.3) (4.17.0)
Requirement already satisfied: numpy>=1.16.6 in /usr/local/lib/python3.7/dist-packages (from onnxruntime==1.8.0->kobert==0.2.3) (1.21.5)
Requirement already satisfied: flatbuffers in /usr/local/lib/python3.7/dist-packages (from onnxruntime==1.8.0->kobert==0.2.3) (2.0)
Requirement already satisfied: protobuf in /usr/local/lib/python3.7/dist-packages (from onnxruntime==1.8.0->kobert==0.2.3) (3.17.3)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from gluonnlp>=0.6.0->kobert==0.2.3) (21.3)
Requirement already satisfied: cython in /usr/local/lib/python3.7/dist-packages (from gluonnlp>=0.6.0->kobert==0.2.3) (0.29.28)
Requirement already satisfied: requests<3,>=2.20.0 in /usr/local/lib/python3.7/dist-packages (from mxnet>=1.4.0->kobert==0.2.3) (2.23.0)
Requirement already satisfied: graphviz<0.9.0,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from mxnet>=1.4.0->kobert==0.2.3) (0.8.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.20.0->mxnet>=1.4.0->kobert==0.2.3) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.20.0->mxnet>=1.4.0->kobert==0.2.3) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.20.0->mxnet>=1.4.0->kobert==0.2.3) (1.25.11)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.20.0->mxnet>=1.4.0->kobert==0.2.3) (3.0.4)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from torch>=1.7.0->kobert==0.2.3) (3.10.0.2)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.7/dist-packages (from transformers>=4.8.1->kobert==0.2.3) (2019.12.20)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.7/dist-packages (from transformers>=4.8.1->kobert==0.2.3) (4.63.0)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.7/dist-packages (from transformers>=4.8.1->kobert==0.2.3) (6.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from transformers>=4.8.1->kobert==0.2.3) (4.11.3)
Requirement already satisfied: tokenizers!=0.11.3,>=0.11.1 in /usr/local/lib/python3.7/dist-packages (from transformers>=4.8.1->kobert==0.2.3) (0.11.6)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from transformers>=4.8.1->kobert==0.2.3) (3.6.0)
Requirement already satisfied: huggingface-hub<1.0,>=0.1.0 in /usr/local/lib/python3.7/dist-packages (from transformers>=4.8.1->kobert==0.2.3) (0.4.0)
Requirement already satisfied: sacremoses in /usr/local/lib/python3.7/dist-packages (from transformers>=4.8.1->kobert==0.2.3) (0.0.49)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->gluonnlp>=0.6.0->kobert==0.2.3) (3.0.7)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /usr/local/lib/python3.7/dist-packages (from boto3->kobert==0.2.3) (1.0.0)
Requirement already satisfied: botocore<1.25.0,>=1.24.28 in /usr/local/lib/python3.7/dist-packages (from boto3->kobert==0.2.3) (1.24.28)
Requirement already satisfied: s3transfer<0.6.0,>=0.5.0 in /usr/local/lib/python3.7/dist-packages (from boto3->kobert==0.2.3) (0.5.2)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.7/dist-packages (from botocore<1.25.0,>=1.24.28->boto3->kobert==0.2.3) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.25.0,>=1.24.28->boto3->kobert==0.2.3) (1.15.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->transformers>=4.8.1->kobert==0.2.3) (3.7.0)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers>=4.8.1->kobert==0.2.3) (1.1.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers>=4.8.1->kobert==0.2.3) (7.1.2)

In [102]:
import torch
from torch import nn
import torch.nn.functional as F
import torch.optim as optim
from torch.utils.data import Dataset, DataLoader
import gluonnlp as nlp
import numpy as np
from tqdm.notebook import tqdm
import pandas as pd
from kobert.utils import get_tokenizer
from kobert.pytorch_kobert import get_pytorch_kobert_model
from transformers import AdamW
from transformers.optimization import get_cosine_schedule_with_warmup
from kobert_tokenizer import KoBERTTokenizer
from sklearn.model_selection import train_test_split
import logging

In [104]:
logging.basicConfig(level=logging.DEBUG)

In [105]:
train = pd.read_csv('/content/drive/MyDrive/SANUP/1. 실습용자료.txt', sep='|', encoding='cp949')
test = pd.read_csv('/content/drive/MyDrive/SANUP/2. 모델개발용자료.txt', sep='|', encoding='cp949')

In [106]:
#train = train.sample(frac=0.1)

In [107]:
train

,AI_id,digit_1,digit_2,digit_3,text_obj,text_mthd,text_deal
0,id_0000001,S,95,952,카센터에서,자동차부분정비,타이어오일교환
1,id_0000002,G,47,472,상점내에서,일반인을 대상으로,채소.과일판매
2,id_0000003,G,46,467,절단하여사업체에도매,공업용고무를가지고,합성고무도매
3,id_0000004,G,47,475,영업점에서,일반소비자에게,열쇠잠금장치
4,id_0000005,Q,87,872,어린이집,보호자의 위탁을 받아,취학전아동보육
...,...,...,...,...,...,...,...
999995,id_0999996,C,13,134,제품입고,워싱,청바지워싱
999996,id_0999997,F,42,424,현장에서,고객의요청에의해,실내인테리어
999997,id_0999998,G,47,474,영업점에서,일반소비자에게,여성의류 판매
999998,id_0999999,P,85,856,사업장에서,일반고객을대상으로,필라테스
999999,id_1000000,I,56,561,사업장에서,접객시설을 갖추고,한식(미역구)판매

In [58]:
train['digit_1'].value_counts()

G    246472
I    187425
C    105192
S    100396
H     98038
P     46610
L     40140
Q     36087
F     35050
R     29751
M     28434
N     17701
J     10862
K     10378
O      2965
E      2255
A      1064
D       756
B       424
Name: digit_1, dtype: int64

In [59]:
train.isnull().sum()

AI_id            0
digit_1          0
digit_2          0
digit_3          0
text_obj     16677
text_mthd    43619
text_deal    67652
dtype: int64

In [60]:
train = train.fillna("")

In [61]:
train.isnull().sum()

AI_id        0
digit_1      0
digit_2      0
digit_3      0
text_obj     0
text_mthd    0
text_deal    0
dtype: int64

In [62]:
df = train.reset_index(drop=True)

In [63]:
#df = train[train['digit_2']==47].copy().reset_index(drop=True)

In [64]:
df

,AI_id,digit_1,digit_2,digit_3,text_obj,text_mthd,text_deal
0,id_0000001,S,95,952,카센터에서,자동차부분정비,타이어오일교환
1,id_0000002,G,47,472,상점내에서,일반인을 대상으로,채소.과일판매
2,id_0000003,G,46,467,절단하여사업체에도매,공업용고무를가지고,합성고무도매
3,id_0000004,G,47,475,영업점에서,일반소비자에게,열쇠잠금장치
4,id_0000005,Q,87,872,어린이집,보호자의 위탁을 받아,취학전아동보육
...,...,...,...,...,...,...,...
999995,id_0999996,C,13,134,제품입고,워싱,청바지워싱
999996,id_0999997,F,42,424,현장에서,고객의요청에의해,실내인테리어
999997,id_0999998,G,47,474,영업점에서,일반소비자에게,여성의류 판매
999998,id_0999999,P,85,856,사업장에서,일반고객을대상으로,필라테스
999999,id_1000000,I,56,561,사업장에서,접객시설을 갖추고,한식(미역구)판매

In [65]:
df['target'] = df['digit_1'] + " " + df['digit_2'].astype(str) + " " + df['digit_3'].astype(str)
df["text"] = df["text_obj"]+ " " + df["text_mthd"] + " " + df["text_deal"]

In [66]:
df['target'].nunique()

225

In [67]:
df

,AI_id,digit_1,digit_2,digit_3,text_obj,text_mthd,text_deal,target,text
0,id_0000001,S,95,952,카센터에서,자동차부분정비,타이어오일교환,S 95 952,카센터에서 자동차부분정비 타이어오일교환
1,id_0000002,G,47,472,상점내에서,일반인을 대상으로,채소.과일판매,G 47 472,상점내에서 일반인을 대상으로 채소.과일판매
2,id_0000003,G,46,467,절단하여사업체에도매,공업용고무를가지고,합성고무도매,G 46 467,절단하여사업체에도매 공업용고무를가지고 합성고무도매
3,id_0000004,G,47,475,영업점에서,일반소비자에게,열쇠잠금장치,G 47 475,영업점에서 일반소비자에게 열쇠잠금장치
4,id_0000005,Q,87,872,어린이집,보호자의 위탁을 받아,취학전아동보육,Q 87 872,어린이집 보호자의 위탁을 받아 취학전아동보육
...,...,...,...,...,...,...,...,...,...
999995,id_0999996,C,13,134,제품입고,워싱,청바지워싱,C 13 134,제품입고 워싱 청바지워싱
999996,id_0999997,F,42,424,현장에서,고객의요청에의해,실내인테리어,F 42 424,현장에서 고객의요청에의해 실내인테리어
999997,id_0999998,G,47,474,영업점에서,일반소비자에게,여성의류 판매,G 47 474,영업점에서 일반소비자에게 여성의류 판매
999998,id_0999999,P,85,856,사업장에서,일반고객을대상으로,필라테스,P 85 856,사업장에서 일반고객을대상으로 필라테스
999999,id_1000000,I,56,561,사업장에서,접객시설을 갖추고,한식(미역구)판매,I 56 561,사업장에서 접객시설을 갖추고 한식(미역구)판매

In [68]:
#df['text'] = df['text'].str.strip()

In [69]:
df['No.']=df.index

In [70]:
df

,AI_id,digit_1,digit_2,digit_3,text_obj,text_mthd,text_deal,target,text,No.
0,id_0000001,S,95,952,카센터에서,자동차부분정비,타이어오일교환,S 95 952,카센터에서 자동차부분정비 타이어오일교환,0
1,id_0000002,G,47,472,상점내에서,일반인을 대상으로,채소.과일판매,G 47 472,상점내에서 일반인을 대상으로 채소.과일판매,1
2,id_0000003,G,46,467,절단하여사업체에도매,공업용고무를가지고,합성고무도매,G 46 467,절단하여사업체에도매 공업용고무를가지고 합성고무도매,2
3,id_0000004,G,47,475,영업점에서,일반소비자에게,열쇠잠금장치,G 47 475,영업점에서 일반소비자에게 열쇠잠금장치,3
4,id_0000005,Q,87,872,어린이집,보호자의 위탁을 받아,취학전아동보육,Q 87 872,어린이집 보호자의 위탁을 받아 취학전아동보육,4
...,...,...,...,...,...,...,...,...,...,...
999995,id_0999996,C,13,134,제품입고,워싱,청바지워싱,C 13 134,제품입고 워싱 청바지워싱,999995
999996,id_0999997,F,42,424,현장에서,고객의요청에의해,실내인테리어,F 42 424,현장에서 고객의요청에의해 실내인테리어,999996
999997,id_0999998,G,47,474,영업점에서,일반소비자에게,여성의류 판매,G 47 474,영업점에서 일반소비자에게 여성의류 판매,999997
999998,id_0999999,P,85,856,사업장에서,일반고객을대상으로,필라테스,P 85 856,사업장에서 일반고객을대상으로 필라테스,999998
999999,id_1000000,I,56,561,사업장에서,접객시설을 갖추고,한식(미역구)판매,I 56 561,사업장에서 접객시설을 갖추고 한식(미역구)판매,999999

In [71]:
tokenizer = KoBERTTokenizer.from_pretrained('skt/kobert-base-v1')

The tokenizer class you load from this checkpoint is not the same type as the class this function is called from. It may result in unexpected tokenization.
The tokenizer class you load from this checkpoint is 'XLNetTokenizer'.
The class this function is called from is 'KoBERTTokenizer'.

In [72]:
def text_to_token(df:pd.DataFrame):
  input_ids = list()
  token_type_ids = list()
  attention_mask = list()

  for i in range(len(df)):
    temp = tokenizer.encode_plus(df['text'].loc[i], add_special_tokens=True,
            pad_to_max_length=True,
            return_attention_mask = True, 
            return_token_type_ids=True,
            truncation=True)
    input_ids.append(temp['input_ids'])
    token_type_ids.append(temp['token_type_ids'])
    attention_mask.append(temp['attention_mask'])

  return input_ids, token_type_ids, attention_mask

df['input_ids'], df['token_type_ids'], df['attention_mask'] = text_to_token(df)

/usr/local/lib/python3.7/dist-packages/transformers/tokenization_utils_base.py:2277: FutureWarning: The `pad_to_max_length` argument is deprecated and will be removed in a future version, use `padding=True` or `padding='longest'` to pad to the longest sequence in the batch, or use `padding='max_length'` to pad to a max length. In this case, you can give a specific length with `max_length` (e.g. `max_length=45`) or leave max_length to None to pad to the maximal input size of the model (e.g. 512 for Bert).
  FutureWarning,
Asking to truncate to max_length but no maximum length is provided and the model has no predefined maximum length. Default to no truncation.

In [73]:
df[['input_ids', 'token_type_ids', 'attention_mask']].head()

,input_ids,token_type_ids,attention_mask
0,"[2, 4635, 6594, 3893, 6398, 6416, 7227, 6441, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]"
1,"[2, 2658, 7220, 5678, 6903, 3807, 7119, 7088, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]"
2,"[2, 4067, 5788, 7815, 6493, 6879, 6901, 6168, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
3,"[2, 3382, 7220, 6903, 3807, 6611, 6897, 3358, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]"
4,"[2, 3235, 2400, 7167, 3565, 7088, 2226, 4598, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]"

In [74]:
## GPU
device = torch.device("cuda:0")

In [75]:
bertmodel, vocab = get_pytorch_kobert_model(cachedir=".cache")

using cached model. /content/.cache/kobert_v1.zip
using cached model. /content/.cache/kobert_news_wiki_ko_cased-1087f8699e.spiece

In [76]:
my_dict = {}
for i in range(len(df['target'].unique())):
  my_dict[df['target'].unique()[i]] = i

In [77]:
my_dict

{'A 1 11': 174,
 'A 1 12': 197,
 'A 1 14': 188,
 'A 2 20': 171,
 'A 3 31': 199,
 'A 3 32': 179,
 'B 5 51': 223,
 'B 6 61': 209,
 'B 6 62': 207,
 'B 7 71': 121,
 'B 7 72': 80,
 'B 8 80': 218,
 'C 10 101': 97,
 'C 10 102': 10,
 'C 10 103': 88,
 'C 10 104': 100,
 'C 10 105': 135,
 'C 10 106': 72,
 'C 10 107': 7,
 'C 10 108': 178,
 'C 11 111': 148,
 'C 11 112': 110,
 'C 12 120': 224,
 'C 13 131': 158,
 'C 13 132': 107,
 'C 13 133': 177,
 'C 13 134': 103,
 'C 13 139': 111,
 'C 14 141': 43,
 'C 14 142': 215,
 'C 14 143': 180,
 'C 14 144': 122,
 'C 15 151': 91,
 'C 15 152': 182,
 'C 16 161': 95,
 'C 16 162': 115,
 'C 16 163': 67,
 'C 17 171': 108,
 'C 17 172': 138,
 'C 17 179': 129,
 'C 18 181': 81,
 'C 18 182': 204,
 'C 19 191': 195,
 'C 19 192': 203,
 'C 20 201': 151,
 'C 20 202': 90,
 'C 20 203': 56,
 'C 20 204': 79,
 'C 20 205': 157,
 'C 21 211': 206,
 'C 21 212': 187,
 'C 21 213': 201,
 'C 22 221': 18,
 'C 22 222': 33,
 'C 23 231': 156,
 'C 23 232': 120,
 'C 23 233': 94,
 'C 23 239': 85,
 'C 24 241': 130,
 'C 24 242': 104,
 'C 24 243': 69,
 'C 25 251': 87,
 'C 25 252': 198,
 'C 25 259': 28,
 'C 26 261': 63,
 'C 26 262': 65,
 'C 26 263': 113,
 'C 26 264': 149,
 'C 26 265': 152,
 'C 26 266': 222,
 'C 27 271': 142,
 'C 27 272': 141,
 'C 27 273': 193,
 'C 27 274': 162,
 'C 28 281': 52,
 'C 28 282': 196,
 'C 28 283': 166,
 'C 28 284': 114,
 'C 28 285': 146,
 'C 28 289': 131,
 'C 29 291': 5,
 'C 29 292': 20,
 'C 30 301': 202,
 'C 30 302': 145,
 'C 30 303': 116,
 'C 30 304': 217,
 'C 31 311': 77,
 'C 31 312': 192,
 'C 31 313': 185,
 'C 31 319': 167,
 'C 32 320': 35,
 'C 33 331': 123,
 'C 33 332': 194,
 'C 33 333': 169,
 'C 33 334': 153,
 'C 33 339': 49,
 'C 34 340': 62,
 'D 35 351': 144,
 'D 35 352': 191,
 'D 35 353': 189,
 'E 36 360': 190,
 'E 37 370': 168,
 'E 38 381': 184,
 'E 38 382': 164,
 'E 38 383': 124,
 'E 39 390': 173,
 'F 41 411': 66,
 'F 41 412': 101,
 'F 42 421': 73,
 'F 42 422': 32,
 'F 42 423': 9,
 'F 42 424': 68,
 'F 42 425': 150,
 'F 42 426': 106,
 'G 45 451': 137,
 'G 45 452': 46,
 'G 45 453': 86,
 'G 46 461': 45,
 'G 46 462': 92,
 'G 46 463': 64,
 'G 46 464': 26,
 'G 46 465': 37,
 'G 46 466': 51,
 'G 46 467': 2,
 'G 46 468': 78,
 'G 47 471': 24,
 'G 47 472': 1,
 'G 47 473': 14,
 'G 47 474': 11,
 'G 47 475': 3,
 'G 47 476': 44,
 'G 47 477': 21,
 'G 47 478': 30,
 'G 47 479': 74,
 'H 49 491': 216,
 'H 49 492': 54,
 'H 49 493': 27,
 'H 49 494': 159,
 'H 49 495': 205,
 'H 50 501': 119,
 'H 50 502': 211,
 'H 51 511': 208,
 'H 51 512': 214,
 'H 52 521': 70,
 'H 52 529': 13,
 'I 55 551': 25,
 'I 55 559': 41,
 'I 56 561': 6,
 'I 56 562': 17,
 'J 58 581': 160,
 'J 58 582': 38,
 'J 59 591': 132,
 'J 59 592': 61,
 'J 60 601': 221,
 'J 60 602': 172,
 'J 61 611': 140,
 'J 61 612': 186,
 'J 62 620': 98,
 'J 63 631': 170,
 'J 63 639': 154,
 'K 64 641': 84,
 'K 64 642': 161,
 'K 64 649': 143,
 'K 65 651': 165,
 'K 65 652': 219,
 'K 65 653': 93,
 'K 66 661': 105,
 'K 66 662': 82,
 'L 68 681': 57,
 'L 68 682': 48,
 'M 70 701': 112,
 'M 70 702': 125,
 'M 71 711': 36,
 'M 71 712': 53,
 'M 71 713': 60,
 'M 71 714': 176,
 'M 71 715': 117,
 'M 71 716': 181,
 'M 72 721': 39,
 'M 72 729': 42,
 'M 73 731': 200,
 'M 73 732': 29,
 'M 73 733': 99,
 'M 73 739': 139,
 'N 74 741': 128,
 'N 74 742': 59,
 'N 74 743': 175,
 'N 75 751': 109,
 'N 75 752': 55,
 'N 75 753': 147,
 'N 75 759': 127,
 'N 76 761': 15,
 'N 76 762': 89,
 'N 76 763': 133,
 'N 76 764': 163,
 'O 84 841': 8,
 'O 84 842': 155,
 'O 84 843': 220,
 'O 84 844': 183,
 'O 84 845': 213,
 'P 85 851': 71,
 'P 85 852': 83,
 'P 85 853': 210,
 'P 85 854': 212,
 'P 85 855': 34,
 'P 85 856': 12,
 'P 85 857': 102,
 'Q 86 861': 96,
 'Q 86 862': 50,
 'Q 86 863': 40,
 'Q 86 869': 136,
 'Q 87 871': 126,
 'Q 87 872': 4,
 'R 90 901': 58,
 'R 90 902': 76,
 'R 91 911': 16,
 'R 91 912': 31,
 'S 94 941': 75,
 'S 94 942': 118,
 'S 94 949': 23,
 'S 95 951': 134,
 'S 95 952': 0,
 'S 95 953': 47,
 'S 96 961': 19,
 'S 96 969': 22}

In [78]:
def target_to_label(text:str):
  return my_dict[text]

df['target_label'] = df['target'].map(target_to_label)

In [79]:
df

,AI_id,digit_1,digit_2,digit_3,text_obj,text_mthd,text_deal,target,text,No.,input_ids,token_type_ids,attention_mask,target_label
0,id_0000001,S,95,952,카센터에서,자동차부분정비,타이어오일교환,S 95 952,카센터에서 자동차부분정비 타이어오일교환,0,"[2, 4635, 6594, 3893, 6398, 6416, 7227, 6441, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]",0
1,id_0000002,G,47,472,상점내에서,일반인을 대상으로,채소.과일판매,G 47 472,상점내에서 일반인을 대상으로 채소.과일판매,1,"[2, 2658, 7220, 5678, 6903, 3807, 7119, 7088, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]",1
2,id_0000003,G,46,467,절단하여사업체에도매,공업용고무를가지고,합성고무도매,G 46 467,절단하여사업체에도매 공업용고무를가지고 합성고무도매,2,"[2, 4067, 5788, 7815, 6493, 6879, 6901, 6168, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",2
3,id_0000004,G,47,475,영업점에서,일반소비자에게,열쇠잠금장치,G 47 475,영업점에서 일반소비자에게 열쇠잠금장치,3,"[2, 3382, 7220, 6903, 3807, 6611, 6897, 3358, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]",3
4,id_0000005,Q,87,872,어린이집,보호자의 위탁을 받아,취학전아동보육,Q 87 872,어린이집 보호자의 위탁을 받아 취학전아동보육,4,"[2, 3235, 2400, 7167, 3565, 7088, 2226, 4598, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]",4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,id_0999996,C,13,134,제품입고,워싱,청바지워싱,C 13 134,제품입고 워싱 청바지워싱,999995,"[2, 4158, 7138, 5439, 3530, 6750, 4483, 6273, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]",103
999996,id_0999997,F,42,424,현장에서,고객의요청에의해,실내인테리어,F 42 424,현장에서 고객의요청에의해 실내인테리어,999996,"[2, 5063, 994, 7095, 6999, 7431, 6896, 7095, 7...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]",68
999997,id_0999998,G,47,474,영업점에서,일반소비자에게,여성의류 판매,G 47 474,영업점에서 일반소비자에게 여성의류 판매,999997,"[2, 3382, 7220, 6903, 3807, 6611, 6897, 3312, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]",11
999998,id_0999999,P,85,856,사업장에서,일반고객을대상으로,필라테스,P 85 856,사업장에서 일반고객을대상으로 필라테스,999998,"[2, 2609, 7184, 3807, 5440, 7088, 5816, 7078, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]",12
999999,id_1000000,I,56,561,사업장에서,접객시설을 갖추고,한식(미역구)판매,I 56 561,사업장에서 접객시설을 갖추고 한식(미역구)판매,999999,"[2, 2609, 7184, 4086, 5370, 6712, 7088, 827, 5...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",6

In [80]:
df[['target', 'target_label']].head()

     target  target_label
0  S 95 952             0
1  G 47 472             1
2  G 46 467             2
3  G 47 475             3
4  Q 87 872             4

In [81]:
df

,AI_id,digit_1,digit_2,digit_3,text_obj,text_mthd,text_deal,target,text,No.,input_ids,token_type_ids,attention_mask,target_label
0,id_0000001,S,95,952,카센터에서,자동차부분정비,타이어오일교환,S 95 952,카센터에서 자동차부분정비 타이어오일교환,0,"[2, 4635, 6594, 3893, 6398, 6416, 7227, 6441, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]",0
1,id_0000002,G,47,472,상점내에서,일반인을 대상으로,채소.과일판매,G 47 472,상점내에서 일반인을 대상으로 채소.과일판매,1,"[2, 2658, 7220, 5678, 6903, 3807, 7119, 7088, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]",1
2,id_0000003,G,46,467,절단하여사업체에도매,공업용고무를가지고,합성고무도매,G 46 467,절단하여사업체에도매 공업용고무를가지고 합성고무도매,2,"[2, 4067, 5788, 7815, 6493, 6879, 6901, 6168, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",2
3,id_0000004,G,47,475,영업점에서,일반소비자에게,열쇠잠금장치,G 47 475,영업점에서 일반소비자에게 열쇠잠금장치,3,"[2, 3382, 7220, 6903, 3807, 6611, 6897, 3358, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]",3
4,id_0000005,Q,87,872,어린이집,보호자의 위탁을 받아,취학전아동보육,Q 87 872,어린이집 보호자의 위탁을 받아 취학전아동보육,4,"[2, 3235, 2400, 7167, 3565, 7088, 2226, 4598, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]",4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,id_0999996,C,13,134,제품입고,워싱,청바지워싱,C 13 134,제품입고 워싱 청바지워싱,999995,"[2, 4158, 7138, 5439, 3530, 6750, 4483, 6273, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]",103
999996,id_0999997,F,42,424,현장에서,고객의요청에의해,실내인테리어,F 42 424,현장에서 고객의요청에의해 실내인테리어,999996,"[2, 5063, 994, 7095, 6999, 7431, 6896, 7095, 7...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]",68
999997,id_0999998,G,47,474,영업점에서,일반소비자에게,여성의류 판매,G 47 474,영업점에서 일반소비자에게 여성의류 판매,999997,"[2, 3382, 7220, 6903, 3807, 6611, 6897, 3312, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]",11
999998,id_0999999,P,85,856,사업장에서,일반고객을대상으로,필라테스,P 85 856,사업장에서 일반고객을대상으로 필라테스,999998,"[2, 2609, 7184, 3807, 5440, 7088, 5816, 7078, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]",12
999999,id_1000000,I,56,561,사업장에서,접객시설을 갖추고,한식(미역구)판매,I 56 561,사업장에서 접객시설을 갖추고 한식(미역구)판매,999999,"[2, 2609, 7184, 4086, 5370, 6712, 7088, 827, 5...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",6

In [82]:
# dataset_train = df[['No.', 'text', 'target_label']][:int(len(df)*0.8)]
# dataset_test = df[['No.', 'text', 'target_label']][int(len(df)*0.8):]
dataset_train, dataset_test = train_test_split(df[['No.', 'text', 'target_label']], test_size=0.2, random_state=42, shuffle=True)
dataset_train.to_csv('dataset_train.txt', index=False, header=True, sep='\t', encoding='utf8')
dataset_test.to_csv('dataset_test.txt', index=False, header=True, sep='\t', encoding='utf8')

In [83]:
dataset_train = nlp.data.TSVDataset('/content/dataset_train.txt', field_indices=[1,2], num_discard_samples=1)
dataset_test = nlp.data.TSVDataset('/content/dataset_test.txt', field_indices=[1,2], num_discard_samples=1)

In [84]:
tokenizer = get_tokenizer()
tok = nlp.data.BERTSPTokenizer(tokenizer, vocab, lower=False)

using cached model. /content/.cache/kobert_news_wiki_ko_cased-1087f8699e.spiece

In [85]:
class BERTDataset(Dataset):
    def __init__(self, dataset, sent_idx, label_idx, bert_tokenizer, max_len,
                 pad, pair):
        transform = nlp.data.BERTSentenceTransform(
            bert_tokenizer, max_seq_length=max_len, pad=pad, pair=pair)

        self.sentences = [transform([i[sent_idx]]) for i in dataset]
        self.labels = [np.int32(i[label_idx]) for i in dataset]

    def __getitem__(self, i):
        return (self.sentences[i] + (self.labels[i], ))

    def __len__(self):
        return (len(self.labels))

In [86]:
## Setting parameters
max_len = 256
batch_size = 8
warmup_ratio = 0.1
num_epochs = 20
max_grad_norm = 1
log_interval = 200
learning_rate =  5e-5

In [87]:
data_train = BERTDataset(dataset_train, 0, 1, tok, max_len, True, False)
data_test = BERTDataset(dataset_test, 0, 1, tok, max_len, True, False)

In [88]:
next(iter(data_train))

(array([   2, 2068, 7191, 6234, 2184, 1083, 7239, 4152,    3,    1,    1,
           1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
           1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
           1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
           1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
           1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
           1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
           1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
           1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
           1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
           1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
           1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
           1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
           1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
           1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
           1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
           1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
           1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
           1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
           1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
           1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
           1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
           1,    1,    1,    1,    1,    1,    1,    1,    1,    1,    1,
           1,    1,    1], dtype=int32),
 array(9, dtype=int32),
 array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int32),
 115)

In [89]:
train_dataloader = torch.utils.data.DataLoader(data_train, batch_size=batch_size, num_workers=4)
test_dataloader = torch.utils.data.DataLoader(data_test, batch_size=batch_size, num_workers=4)

/usr/local/lib/python3.7/dist-packages/torch/utils/data/dataloader.py:481: UserWarning: This DataLoader will create 4 worker processes in total. Our suggested max number of worker in current system is 2, which is smaller than what this DataLoader is going to create. Please be aware that excessive worker creation might get DataLoader running slow or even freeze, lower the worker number to avoid potential slowness/freeze if necessary.
  cpuset_checked))

In [90]:
len(df['target_label'].unique())

225

In [91]:
class BERTClassifier(nn.Module):
    def __init__(self,
                 bert,
                 hidden_size = 768,
                 num_classes=520,
                 dr_rate=None,
                 params=None):
        super(BERTClassifier, self).__init__()
        self.bert = bert
        self.dr_rate = dr_rate
                 
        self.classifier = nn.Linear(hidden_size , num_classes)
        if dr_rate:
            self.dropout = nn.Dropout(p=dr_rate)
    
    def gen_attention_mask(self, token_ids, valid_length):
        attention_mask = torch.zeros_like(token_ids)
        for i, v in enumerate(valid_length):
            attention_mask[i][:v] = 1
        return attention_mask.float()

    def forward(self, token_ids, valid_length, segment_ids):
        attention_mask = self.gen_attention_mask(token_ids, valid_length)
        
        _, pooler = self.bert(input_ids = token_ids, token_type_ids = segment_ids.long(), attention_mask = attention_mask.float().to(token_ids.device))
        if self.dr_rate:
            out = self.dropout(pooler)
        return self.classifier(out)

In [92]:
model = BERTClassifier(bertmodel,  dr_rate=0.5).to(device)

In [93]:
# Prepare optimizer and schedule (linear warmup and decay)
no_decay = ['bias', 'LayerNorm.weight']
optimizer_grouped_parameters = [
    {'params': [p for n, p in model.named_parameters() if not any(nd in n for nd in no_decay)], 'weight_decay': 0.01},
    {'params': [p for n, p in model.named_parameters() if any(nd in n for nd in no_decay)], 'weight_decay': 0.0}
]

In [94]:
optimizer = AdamW(optimizer_grouped_parameters, lr=learning_rate)
loss_fn = nn.CrossEntropyLoss()

/usr/local/lib/python3.7/dist-packages/transformers/optimization.py:309: FutureWarning: This implementation of AdamW is deprecated and will be removed in a future version. Use the PyTorch implementation torch.optim.AdamW instead, or set `no_deprecation_warning=True` to disable this warning
  FutureWarning,

In [95]:
t_total = len(train_dataloader) * num_epochs
warmup_step = int(t_total * warmup_ratio)

In [96]:
scheduler = get_cosine_schedule_with_warmup(optimizer, num_warmup_steps=warmup_step, num_training_steps=t_total)

In [97]:
def calc_accuracy(X,Y):
    max_vals, max_indices = torch.max(X, 1)
    train_acc = (max_indices == Y).sum().data.cpu().numpy()/max_indices.size()[0]
    return train_acc

In [98]:
for e in range(num_epochs):
    train_acc = 0.0
    test_acc = 0.0
    model.train()
    for batch_id, (token_ids, valid_length, segment_ids, label) in tqdm(enumerate(train_dataloader), total=len(train_dataloader)):
        optimizer.zero_grad()
        token_ids = token_ids.long().to(device)
        segment_ids = segment_ids.long().to(device)
        valid_length= valid_length
        label = label.long().to(device)
        out = model(token_ids, valid_length, segment_ids)
        loss = loss_fn(out, label)
        loss.backward()
        torch.nn.utils.clip_grad_norm_(model.parameters(), max_grad_norm)
        optimizer.step()
        scheduler.step()  # Update learning rate schedule
        train_acc += calc_accuracy(out, label)
        if batch_id % log_interval == 0:
            print("epoch {} batch id {} loss {} train acc {}".format(e+1, batch_id+1, loss.data.cpu().numpy(), train_acc / (batch_id+1)))
    print("epoch {} train acc {}".format(e+1, train_acc / (batch_id+1)))
    model.eval()
    for batch_id, (token_ids, valid_length, segment_ids, label) in tqdm(enumerate(test_dataloader), total=len(test_dataloader)):
        token_ids = token_ids.long().to(device)
        segment_ids = segment_ids.long().to(device)
        valid_length= valid_length
        label = label.long().to(device)
        out = model(token_ids, valid_length, segment_ids)
        test_acc += calc_accuracy(out, label)
    print("epoch {} test acc {}".format(e+1, test_acc / (batch_id+1)))
    # torch.cuda.empty_cache()

/usr/local/lib/python3.7/dist-packages/torch/utils/data/dataloader.py:481: UserWarning: This DataLoader will create 4 worker processes in total. Our suggested max number of worker in current system is 2, which is smaller than what this DataLoader is going to create. Please be aware that excessive worker creation might get DataLoader running slow or even freeze, lower the worker number to avoid potential slowness/freeze if necessary.
  cpuset_checked))

  0%|          | 0/100000 [00:00<?, ?it/s]

epoch 1 batch id 1 loss 6.501279354095459 train acc 0.0

KeyboardInterrupt: ignored

In [99]:
df

,AI_id,digit_1,digit_2,digit_3,text_obj,text_mthd,text_deal,target,text,No.,input_ids,token_type_ids,attention_mask,target_label
0,id_0000001,S,95,952,카센터에서,자동차부분정비,타이어오일교환,S 95 952,카센터에서 자동차부분정비 타이어오일교환,0,"[2, 4635, 6594, 3893, 6398, 6416, 7227, 6441, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]",0
1,id_0000002,G,47,472,상점내에서,일반인을 대상으로,채소.과일판매,G 47 472,상점내에서 일반인을 대상으로 채소.과일판매,1,"[2, 2658, 7220, 5678, 6903, 3807, 7119, 7088, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]",1
2,id_0000003,G,46,467,절단하여사업체에도매,공업용고무를가지고,합성고무도매,G 46 467,절단하여사업체에도매 공업용고무를가지고 합성고무도매,2,"[2, 4067, 5788, 7815, 6493, 6879, 6901, 6168, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",2
3,id_0000004,G,47,475,영업점에서,일반소비자에게,열쇠잠금장치,G 47 475,영업점에서 일반소비자에게 열쇠잠금장치,3,"[2, 3382, 7220, 6903, 3807, 6611, 6897, 3358, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]",3
4,id_0000005,Q,87,872,어린이집,보호자의 위탁을 받아,취학전아동보육,Q 87 872,어린이집 보호자의 위탁을 받아 취학전아동보육,4,"[2, 3235, 2400, 7167, 3565, 7088, 2226, 4598, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]",4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,id_0999996,C,13,134,제품입고,워싱,청바지워싱,C 13 134,제품입고 워싱 청바지워싱,999995,"[2, 4158, 7138, 5439, 3530, 6750, 4483, 6273, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]",103
999996,id_0999997,F,42,424,현장에서,고객의요청에의해,실내인테리어,F 42 424,현장에서 고객의요청에의해 실내인테리어,999996,"[2, 5063, 994, 7095, 6999, 7431, 6896, 7095, 7...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]",68
999997,id_0999998,G,47,474,영업점에서,일반소비자에게,여성의류 판매,G 47 474,영업점에서 일반소비자에게 여성의류 판매,999997,"[2, 3382, 7220, 6903, 3807, 6611, 6897, 3312, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]",11
999998,id_0999999,P,85,856,사업장에서,일반고객을대상으로,필라테스,P 85 856,사업장에서 일반고객을대상으로 필라테스,999998,"[2, 2609, 7184, 3807, 5440, 7088, 5816, 7078, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]",12
999999,id_1000000,I,56,561,사업장에서,접객시설을 갖추고,한식(미역구)판매,I 56 561,사업장에서 접객시설을 갖추고 한식(미역구)판매,999999,"[2, 2609, 7184, 4086, 5370, 6712, 7088, 827, 5...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",6

In [101]:
df['input_ids'].map(len).max()

64

In [ ]:
max(df['text'].map(len))

In [ ]:
list(map(len,df['text']))

In [ ]:
len('dsads')

In [ ]:
len